@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: rgb(0, 0, 0);
}

.split-hr {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 24px 0;
  background-color: #fff;
}
.split-hr-dark {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 24px 0;
  background-color: rgb(0, 0, 0);
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.button {
  font-weight: bold;
  line-height: 60px;
  border: solid 1px rgb(255, 255, 255);
  display: inline-block;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  transition: all 0.5s ease-in-out;
  padding-left: 27.5px;
  padding-right: 27.5px;
  background-image: url("../img/arrow-white.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  font-size: 0.9375rem;
  background-color: transparent;
}
.button:hover {
  border: solid 2px rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.black-background {
  background-color: transparent;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-image: url("../img/arrow-dark.png");
}

.black-background:hover {
  border: solid 2px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.ml-5 {
  margin-left: 60px;
}

.headings {
  font-size: 4em;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.dark-blue-background {
  background-color: rgb(40, 8, 116);
}

.text-dark {
  color: rgb(0, 0, 0);
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
  cursor: pointer;
}
.nav-link ul {
  display: flex;
  list-style: none;
}
.nav-link ul li {
  margin-right: 25px;
}
.nav-link ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("../img/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}
.toggle.active {
  background: url("../img/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

/* video background */

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  overflow: hidden;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4e4e4f;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 10em;
  font-weight: 800;
  color: #fff;
  line-height: 0.9em;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
.text h3 {
  font-size: 3em;
  font-weight: 400;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 20px;
  display: flex;
  margin-left: 700px;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.social li a i {
  font-size: 2.5em;
  color: white !important;
  padding: 15px;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #03a9f4;
}

/* about section */
.about-logo {
  margin-top: 30px;
}
.about-logo img {
  height: 100px;
  margin-bottom: 5px;
}

.presentation img {
  /* width: 100%; */
  transition: all 0.5s ease-in-out;
}

.presentation img {
  height: 72vh;
  /* width: 100%; */
}

/* support */
.support-about,
.solve-x {
  margin-top: -10px;
}

.support-about img {
  width: 94%;
  height: 550px;
  object-fit: cover;
}

/* work-with-us */
.work-with-us {
  background-image: url("../img/hands-min-1920x1080.jpg");
  /* height: 80vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-top: 150px;
}

.work-with-us h1 {
  font-size: 7em;
  font-weight: 800;
  letter-spacing: -8px;
  padding-bottom: 30px;
}

.work-with-us button {
  margin-bottom: 170px !important;
}

/* .work-with-us .arrow {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 90px;
  margin: 0px 15px;
} */

/* .work-with-us .justify-content-start {
  padding: 0px 70px;
} */
