@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .our-business .row {
        height: 415px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
    .top-header,
    .nav-stripe {
        display: none;
    }
    .page-content {
        padding-top: 80px;
    }
}
/* @media (max-width: 767px) { */
@media (max-width: 799px) {
    .after-industry {
        margin-top: 10px;
    }
    .company-we-keep {
        display: none;
    }
    .number-events {
        display: none;
    }
    .gallery-carousel-items .card {
        margin: 1px;
        border-radius: none;
    }
    .top-header,
    .nav-stripe {
        display: none;
    }
    .page-content {
        padding-top: 80px;
    }

    .testimony-card .testimony-author img {
        height: auto;
        display: none;
    }

    .testimony-desc {
        height: auto;
    }

    .testimonials {
        display: none;
    }

    .contact-us .card-img-top {
        height: auto;
    }

    .contact-us .card-body {
        height: auto;
    }

    .careers-bg {
        padding: 100px 0px;
    }

    .logo img {
        margin: 100px 0px 100px 0px;
        height: 80px;
    }

    .our-services-digital .card-img-top {
        height: auto;
    }

    .we-connect {
        height: auto;
    }

    .newmark-practice-area-img-wrapper img {
        height: auto;
    }

    .newmark-practice-areas h1 {
        font-size: 35px;
    }

    .practice-areas {
        padding-top: 50px;
    }

    .padding-center {
        padding: 100px 0px;
        font-size: 25px;
        line-height: 40px;
    }

    .card-body {
        padding: 0px;
        margin: 16px;
    }

    .our-business h5,
    .our-ceo h5,
    .our-services-digital h5,
    .case-studies h5 {
        font-size: 20px;
    }

    .company-we-keep h2,
    .our-expertise-new h2,
    .our-practice-area-graph h2,
    .main-heading,
    .practice-areas h2,
    .what-makes-us-different h2,
    .news-section h3,
    .connect-with-us h3,
    .testimonials h2,
    .our-philosophy h2 {
        font-size: 1rem;
    }

    .our-philosophy h2 {
        line-height: 30px;
    }

    .carousel-module .carousel .carousel-block h3 {
        font-size: 1.2rem;
    }

    .our-partner-network .logos img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }

    .our-philosophy .card {
        padding: 15px;
        height: auto;
    }
}

@media (min-width: 1400px) {
    .connect-with-us .intro-content {
        background-color: #1193d4;
        padding: 60px 75px;
    }
}
