body {
  overflow-x: hidden;
}
.line-after-heading {
  position: relative;
}

a:hover {
  color: #00ade5;
}

.line-after-heading span {
  background-color: rgb(255, 255, 255);
  padding-right: 30px;
}

/* .line-after-padding-right span {
  padding-right: 50px;
} */

.line-after-heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid #6cc8f6;
  z-index: -1;
}

.who-we-are-img-wrapper img {
  object-fit: cover;
  height: 29rem;
  width: 100%;
}
.p-main {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif !important;
}

.background-translucent {
  background-color: rgba(255,255,255,0.95);
}

.who-we-are .card-title {
  font-size: 23px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  color: #00ade5;
}




/* .blue-background {
  background-color: #00ade5;
} */
/* .company-we-keep .row .col {
  padding: 0 !important;
  margin: 0 !important;
}
.company-we-keep img {
  height: 120px;
  width: 150px;
  border: 2px solid lightgray;
  padding: 5px;
} */

.company-we-keep {
  background-image: url("../img/dots.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}

.company-we-keep .row .col {
  padding: 0 !important;
  margin: 0 !important;
}

.company-we-keep h2 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #00ade5;
  text-align: center;
}

.company-logos img {
  height: 110px;
  width: 100%;
  border: 2px solid #57aeda;
  padding: 15px 40px;
  object-position: center;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.card-news a .card-img-top {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

.card-news a .card {
  background-color: white;
  border: none;
}

.card-news a .card .category {
  font-size: 1.1em;
  color: #6cc8f6;
  font-weight: 500;
  border-radius: 10px;
}

.card-news a .card-title {
  font-size: 1.7em;
  font-weight: 800;
  color: #6cc8f6;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card-text span {
  text-transform: uppercase;
  color: #6cc8f6;
}

.our-business img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.our-business .bg-white {
  box-shadow: 0 0 0.5rem rgba(194, 194, 194, 0.1);
}

.our-business .card-body {
  margin: 50px;
  border-radius: 10px;
}

.text-transfom-none {
  text-transform: none;
}

.our-business .row {
  height: 415px;
}

/* .headings {
  font-size: 2.2em;
  font-weight: 800;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
} */

/* .end-strip:hover {
    border-right: 2px solid red;
} */
/* 
.bg-newmark {
  background-color: rgba(17,147,212,0.3);
  background: linear-gradient(rgba(17,147,212, 0.2) 0%, rgba(17,147,212, 0.1) 100%);
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
} */

/* .top-header {
  padding-right: 10px;
} */

/* .main-header hr {
  border-top: 1px solid #6cc8f6;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100000770px;
  margin-left: 0 !important;
  padding-left: 0!important;
} */

.main-color-theme {
  color: #6cc8f6 !important;
}

.whatsapp {
  background: #009688;
  color: #ffffff;
  position: fixed;
  width: 140px;
  padding: 12px;
  left: 10px;
  bottom: 25px;
  border-radius: 15px 0px 15px 0px;
  z-index: 100;
}

.btn-primary-outline,
.btn-primary-outline:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0px 20px 10px;
}

.btn-primary-outline:hover {
  background-color: #1193d4;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0px 20px 10px;
}

.btn-secondary-outline,
.btn-secondary-outline:hover {
  background-color: transparent;
  border: 2px solid #6cc8f6;
  color: #000000;
  padding: 7px 17px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 20px 10px;
}

.btn-secondary-outline:hover {
  background-color: #1193d4;
  border: 2px solid #6cc8f6;
  color: #ffffff;
  padding: 7px 17px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 20px 10px;
}

.company-logos-second {
  margin-top: -5px;
}

.stripe {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6px;
  height: 6px;
  width: 100%;
  border-radius: 2px;
}

/* .end-strip {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
  border-radius: 4px;
  rotate: 90deg;
} */

.bottom-stripe {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: -5px;
  height: 12px;
  width: 100%;
  border-radius: 1px;
}

.our-business p {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444444;
}

.our-business h5 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 900;
  font-size: 23px;
  line-height: 20px;
  color: #00ade5;
}

.top-header-contact .company-contacts span {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: .5px;
  color: #494949;
  font-weight: 400;
}

/* .top-header-contact h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
} */

.contact-us-block h3 {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 900;
  font-size: 1em;
  color: #353535;
  text-transform: capitalize;
}

/* news section */
.news-section main {
  display: flex;
}
.news-section .normal,
.hover {
  flex: 1;
  /* padding: 0 10px; */
}

.news-section .module {
  width: 100%;
  height: 420px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear 0s;
  overflow: hidden;
  position: relative;
}
.news-section .module:hover {
  box-shadow: 0 1px 15px 0 rgba(85, 85, 85, 0.2);
}
.news-section h6 {
  color: #00ade5;
}
.thumbnail {
  position: relative;
  overflow: hidden;
  background: black;
}
.thumbnail img {
  width: 120%;
  transition: all 0.3s;
}
.module:hover .thumbnail img {
  transform: scale(1.1);
  opacity: 0.6;
}

.thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-top: 10px;
  background-color: #00ade5;
  color: #fff;
  font-weight: bold;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}
.date div:first-child {
  font-size: 18px;
  line-height: 1.2;
}
.news-section .content {
  position: absolute;
  width: 100%;
  height: 178px;
  bottom: 0;
  background: #fff;
  padding: 30px;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.module:hover .content {
  height: 278px;
}

.title {
  margin: 0;
  padding: 0 0 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif !important;
}
.sub-title {
  margin: 0;
  padding: 0 0 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif !important;
  color: #00ade5;
}
.description {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  height: 0;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  overflow: hidden;
}
.module:hover .description {
  height: 100px;
}
.meta {
  margin: 10px 0 0;
  color: #999999;
  font-size: 15px;
}

/* .main-menu {
  border-top: 20px solid red;
} */
/* .main-header
  .main-menu
  ul.menu
  > li.menu-item-has-children.bright-purple
  .sub-menu {
  background: #fff;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
  border-top: 2px solid #1193d4;
  padding: 10px;
}

.main-header
  .main-menu
  ul.menu
  > li.menu-item-has-children.bright-purple
  .sub-menu
  a {
  color: #333 !important;
} */

.headings,
.case-study-module .case-study-text h3 {
  font-weight: 700;
  font-size: 2.2em;
  line-height: 22px;
  color: #000000;
  text-transform: capitalize;
}

.bg-translucent {
  background: rgba(255, 255, 255, 0.95);
}

.our-company {
  padding-top: 50px;
  
}

.our-company .card-body {
  border-radius: 10px;
  padding: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif !important;
}

.our-company p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif !important;
}
