body {
  overflow-x: hidden;
}
.line-after-heading {
  position: relative;
}

a:hover {
  color: #00ade5;
}

.background-blue {
  background-color: #00ade5;
}

.line-after-heading span {
  background-color: rgb(255, 255, 255);
  padding-right: 30px;
}

/* .line-after-padding-right span {
  padding-right: 50px;
} */

.line-after-heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid #6cc8f6;
  z-index: -1;
}

.who-we-are p {
  font-size: 1.2em;
  line-height: 1.8em;
}

.who-we-are-img-wrapper img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(50, 160, 207, 0.12) 0px 2px 4px 0px,
    rgba(52, 161, 207, 0.32) 0px 2px 16px 0px;
}
.p-main {
  font-size: 17px;
  font-family: "Open Sans", sans-serif !important;
}

.background-translucent {
  background-color: rgba(255, 255, 255, 0.95);
}

/* .blue-background {
  background-color: #00ade5;
} */
/* .company-we-keep .row .col {
  padding: 0 !important;
  margin: 0 !important;
}
.company-we-keep img {
  height: 120px;
  width: 150px;
  border: 2px solid lightgray;
  padding: 5px;
} */

.company-we-keep {
  background-image: url("../img/dots.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}

/* .company-we-keep .row .col {
  padding: 0 !important;
  margin: 0 !important;
} */

.company-we-keep h2 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #00ade5;
  text-align: center;
}

.practice-areas h2,
.our-expertise h2 {
  font-size: 31px;
  font-weight: 800;
  color: #00ade5;
  text-align: center;
  text-transform: uppercase !important;
  font-family: "Open Sans", sans-serif !important;
}
/* .company-logos .col {
  margin: 5px !important;
} */

.company-logos img {
  height: 100px;
  width: 100%;
  border: 2px solid #79797933;
  padding: 5px 15px;
  object-position: center;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.company-logos img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-news a .card-img-top {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

.card-news a .card {
  background-color: white;
  border: none;
}

.card-news a .card .category {
  font-size: 1.1em;
  color: #6cc8f6;
  font-weight: 500;
  border-radius: 10px;
}

.card-news a .card-title {
  font-size: 1.7em;
  font-weight: 800;
  color: #6cc8f6;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.card-text span {
  text-transform: uppercase;
  color: #6cc8f6;
}

.our-business img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.our-business .bg-white {
  box-shadow: 0 0 0.5rem rgba(194, 194, 194, 0.1);
}

.our-business .card-body {
  margin: 50px;
  border-radius: 10px;
}

.text-transfom-none {
  text-transform: none;
}

/* .our-business .row {
  height: 415px;
} */

/* .headings {
  font-size: 2.2em;
  font-weight: 800;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
} */

/* .end-strip:hover {
    border-right: 2px solid red;
} */
/* 
.bg-newmark {
  background-color: rgba(17,147,212,0.3);
  background: linear-gradient(rgba(17,147,212, 0.2) 0%, rgba(17,147,212, 0.1) 100%);
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%;
} */

/* .top-header {
  padding-right: 10px;
} */

/* .main-header hr {
  border-top: 1px solid #6cc8f6;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100000770px;
  margin-left: 0 !important;
  padding-left: 0!important;
} */

.main-color-theme {
  color: #6cc8f6 !important;
}

.whatsapp {
  background: #009688;
  color: #ffffff;
  position: fixed;
  width: 140px;
  padding: 12px;
  left: 10px;
  bottom: 25px;
  border-radius: 15px 0px 15px 0px;
  z-index: 100;
}

.btn-primary-outline,
.btn-primary-outline:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0px 20px 10px;
}

.btn-primary-outline:hover {
  background-color: #1193d4;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0px 20px 10px;
}

.btn-secondary-outline,
.btn-secondary-outline:hover {
  background-color: transparent;
  border: 2px solid #6cc8f6;
  color: #000000;
  padding: 7px 17px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 20px 10px;
}

.btn-secondary-outline:hover {
  background-color: #1193d4;
  border: 2px solid #6cc8f6;
  color: #ffffff;
  padding: 7px 17px;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 20px 10px;
}

/* .company-logos-second {
  margin-top: -5px;
} */

.stripe {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6px;
  height: 6px;
  width: 100%;
  border-radius: 2px;
}

.header-stripe {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6px;
  height: 5px;
  width: 100%;
}

/* .end-strip {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
  border-radius: 4px;
  rotate: 90deg;
} */

.bottom-stripe {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin-top: -5px;
  height: 12px;
  width: 100%;
  border-radius: 1px;
}

/* be seen */
.feature-eye {
  display: inline-block;
  text-align: center;
  padding: 30px;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 100px;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 18px;
}

.feature-box-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.be-seen {
  background-image: url("https://newmark-imc.com/images/world-map-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.be-seen .card {
  height: 100%;
  border-color: #00ade5;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.be-seen .col-md-4 {
  margin-top: 30px !important;
}

.be-seen p {
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

.be-seen .read-more {
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

/* .read-more:hover {

} */

.our-business p {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444444;
}

.our-business h5 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 900;
  font-size: 23px;
  line-height: 20px;
  color: #00ade5;
}

.top-header-contact .company-contacts span {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #494949;
  font-weight: 400;
}

/* .top-header-contact h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  font-size: 1.9em;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
} */

.contact-us-block h3 {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 900;
  font-size: 1em;
  color: #353535;
  text-transform: capitalize;
}
/* practice area */
.practice-area-containers figure {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 30px 0px 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
}

.practice-area-containers figure img {
  background-size: cover;
  position: relative;
  display: block;
  opacity: 0.8;
  height: 260px;
  width: 100%;
  @media (max-width: 1260px) {
    height: 270px;
  }
}
.practice-area-containers figure figcaption {
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.practice-area-containers figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 1em;
}
figure.practice-area-description img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
  transform: perspective(1000px) translate3d(0, 0, 0);
}

figure.practice-area-description h2 {
  background: rgba(13, 123, 179, 0.788);
  /* background: rgba(18, 140, 201, 1); */
  color: rgb(255, 255, 255);
  font-family: "Arial", sans-serif;
  height: 80px;
  width: 100%;
}

/* figure.practice-area-description figcaption h2 {
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
} */

figure.practice-area-description h2 {
  position: absolute;
  padding: 1.6em 1em;
  bottom: 0px;
}

figure.practice-area-description:hover img {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
  transform: perspective(1000px) translate3d(0, 0, 21px);
}

.practice-area-containers figure figcaption h2 {
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 19px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
}

/* news section */
.news-section main {
  display: flex;
}
.news-section .normal,
.hover {
  flex: 1;
  /* padding: 0 10px; */
}

.news-section .module {
  width: 100%;
  height: 420px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear 0s;
  overflow: hidden;
  position: relative;
}
.news-section .module:hover {
  box-shadow: 0 1px 15px 0 rgba(85, 85, 85, 0.2);
}
.news-section h6 {
  color: #00ade5;
}
.thumbnail {
  position: relative;
  overflow: hidden;
  background: black;
}
.thumbnail img {
  width: 120%;
  transition: all 0.3s;
}
.module:hover .thumbnail img {
  transform: scale(1.1);
  opacity: 0.6;
}

.thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-top: 10px;
  background-color: #00ade5;
  color: #fff;
  font-weight: bold;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}
.date div:first-child {
  font-size: 18px;
  line-height: 1.2;
}
.news-section .content {
  position: absolute;
  width: 100%;
  height: 178px;
  bottom: 0;
  background: #fff;
  padding: 30px;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.module:hover .content {
  height: 278px;
}

.title {
  margin: 0;
  padding: 0 0 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif !important;
}
.sub-title {
  margin: 0;
  padding: 0 0 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif !important;
  color: #00ade5;
}
.description {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  height: 0;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  overflow: hidden;
}
.module:hover .description {
  height: 100px;
}
.meta {
  margin: 10px 0 0;
  color: #999999;
  font-size: 15px;
}

/* .main-menu {
  border-top: 20px solid red;
} */
/* .main-header
  .main-menu
  ul.menu
  > li.menu-item-has-children.bright-purple
  .sub-menu {
  background: #fff;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
  border-top: 2px solid #1193d4;
  padding: 10px;
}

.main-header
  .main-menu
  ul.menu
  > li.menu-item-has-children.bright-purple
  .sub-menu
  a {
  color: #333 !important;
} */

.headings,
.case-study-module .case-study-text h3 {
  font-weight: 700;
  font-size: 2.2em;
  line-height: 22px;
  color: #000000;
  text-transform: capitalize;
}

.bg-translucent {
  background: rgba(255, 255, 255, 0.95);
}

.our-company {
  padding-top: 50px;
}

.our-company .card-body {
  border-radius: 10px;
  padding: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif !important;
}

.our-company p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* our expertise */
.our-expertise .case-study-grid .case-study-item {
  height: 200px;
  min-height: 290px;
  position: relative;
  background-color: #000;
  width: calc(24%);
  margin-bottom: 20px;
  margin-right: 11px;
}

.our-expertise .case-study-grid .case-study-item .content h3 {
  color: #fff;
  font-size: 40px;
}

@media only screen and (min-width: 769px) {
  .our-expertise .all-case-studies-module .case-study-item:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgb(252, 252, 252);
    top: 50px;
    border-width: 25px 0 25px 25px;
  }
}

/* footer */

.footer-section {
  background-image: url("https://newmark-imc.com/images/world-map-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
  background-color: #202427;
}
.footer-top {
  border-bottom: 1px solid #555;
}
.single-campany-text i.fa {
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.single-campany-text .first {
  border-left: 1px solid white;
}

.single-campany-text span {
  line-height: 30px;
  color: #999;
  margin-top: 10px;
}
.footer-top-text {
  padding-left: 15px;
  display: inline-block;
}
.footer-top-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  font-family: "Open Sans", sans-serif !important;
}
.footer-top-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p,
.footer-widget p {
  margin-bottom: 14px;
  font-size: 15px;
  color: #dbd7d7;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  font-family: "Open Sans", sans-serif !important;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #1193d4;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #1193d4;
  padding: 13px 20px;
  border: 1px solid #1193d4;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #1193d4;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #1193d4;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
