@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .our-business .row {
    height: 415px;
  }
}

@media (max-width: 767px) {
  .after-industry {
    margin-top: 10px;
  }
  .company-we-keep {
    display: none;
  }
  .number-events {
    display: none;
  }
  .gallery-carousel-items .card {
    margin: 1px;
    border-radius: none;
  }
}

@media (min-width: 1400px) {
  .connect-with-us .intro-content {
    background-color: #1193d4;
    padding: 60px 75px;
  }
}
